/* src/App.css */
body {
  font-family: Arial, sans-serif;
}
.header {
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
}
.content {
  padding: 20px;
}
.server-status {
  margin-top: 20px;
}

.nav-button {
  cursor: pointer; /* Убедитесь, что курсор меняется */
  text-decoration: none; /* Уберите подчёркивание, если нужно */
  display: inline-block; /* Убедитесь, что элемент не "сжат" */
}

.monitoring-page {
  text-align: center;
}

.monitoring-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.server-item {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.server-item strong {
  color: #333;
}
